<div class='row'>
    <div class='col-12 center'>
        <h1>Login</h1> 
    </div>
</div>
<div class='row'>
    <div class='col-12 center'>
        <form action="/login" method="POST">
            <input type="text" name='username' placeholder="username" required> <br> <br>
            <input type="password" name='password' placeholder="password" required> <br>
            <label for="whoever" style="color:crimson">{{messages.error}}</label> <br>
            <input type="submit" class='btnStyle' value='login'>     
        </form>
    </div>
</div>
