body {
    background-color: white;
}
h1{
    font-size: 60px;
    color: black;
    margin : 0px;
}
li{
    width: 13%;
    margin: 2px;
    background-color: white;
    color:black;
}
table{
    width: 100%;
}
u{
    color: white;
}
.choosing {
    color: black;
}
.choosing:link {
    text-decoration: none;
}
  
.choosing:visited {
    text-decoration: none;
}
  
.choosing:hover {
    color: rgb(1, 165, 1);
    text-decoration: none;
}
  
.choosing:active {
    text-decoration: none;
}

.deleteBtn{
    color:black;
    border-radius: 5px;
    border: 1px solid black;
    margin-left : 10px;
}
.deleteBtn:hover{
    background-color: rgb(1, 165, 1);
    color: white;
    border-radius: 5px;
    margin-left : 10px;
}

.workers{
    margin: 2px;
    background-color: white;
    color:black;
    list-style-type: none;
}

.adminBtn{
    border-radius : 5px;
    border : 1px solid black !important;
    margin: 5px;
    font-size: 20px;
    text-align: center;
    width: 120px;
    height: 40px;
}
.adminBtn:hover{
    background-color: rgb(0, 110, 255);
    color: white !important;
}
.btnStyle{
    border-radius : 5px;
    border : 1px solid black;
    margin: 5px;
    font-size: 20px;
    text-align: center;
    width: 80px;
    height: 40px;
}
.btnStyle:hover{
    background-color: rgb(1, 165, 1);
    color: white;
}
.good{
    background-color:rgb(1, 165, 1);

    border-radius : 5px;
    color: white;
    list-style-type: none;
    float: left;
}
.over{
    background-color: rgb(219, 219, 6);
    border-radius : 5px;
    color: white;
    list-style-type: none;
    float: left;
}
.under{
    background-color: crimson;
    border-radius : 5px;
    color: white;
    list-style-type: none;
    float: left;
}